@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-2-6 footer p + p{
	text-align: left;
}

/* ----------
 * Epigraphs. */
/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

section[epub|type="part"] > section[epub|type="epigraph"]{
	break-before: page;
}

/* ----------
 * Images. */
figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figure img{
	width: 35%;
}

/* ----------
 * Letters. */
[epub|type~="z3998:letter"] > header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: right;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] i{
	font-style: normal;
	font-variant: normal;
}

[epub|type~="z3998:letter"] span[epub|type~="z3998:signature"]{
	display: block;
	text-align: right;
}

/* ----------
 * Poetry. */
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

/* ----------
 * Chapter-specific. */
/* Preface: Postcript header. */
#preface-postscript header p{
	font-variant: small-caps;
	font-weight: bold;
	margin: 3em 0;
	text-align: center;
}
